*{
    padding:0;
    margin: 0 ;
    box-sizing: border-box;
}
:global(.center){
    text-align: center;
}
:global(.ant-form-extra){
    font-size: 12px;
}
:global(.ant-layout-header){
    height: 50px !important;
}
:global(#navBar .ant-menu-item-selected) {
    border-bottom: 2px solid #fff;
}
:global(.navBar){
    line-height: 46px !important;
}
:global(.ant-table-small .ant-table-header > table),
:global(.ant-table-small .ant-table-body > table){
  border: 0;
  padding: 0 !important;
}
:global(.ant-table-small .ant-table-thead > tr > th){
    background: #f7f7f7 !important;
}
:global(.ant-layout-header){
    padding: 0 24px !important;
}
:global(.header .ant-menu-horizontal){
    border-bottom: 0 !important;
}