*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:global(.center){
    text-align: center;
}
:global(.ant-form-extra){
    font-size: 12px;
}
:global(.ant-layout ){
    flex-wrap: nowrap;
}
:global(.ant-layout-header),
:global(.ant-layout-footer) {
    flex: 0 1 auto;
}
:global(.ant-layout-header){
    height: 50px !important;
}
:global(#navBar .ant-menu-item-selected) {
    border-bottom: 2px solid #fff;
}
:global(.navBar){
    line-height: 46px !important;
}